<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="header">
    <a href="/" class="logo">Omokhefe Ilalokhoin</a>
    <div class="header-right">
        <a href="/" style="margin-right: 20px">Home</a>
        <a href="/books">Books</a>
        <a href="/register">Sign-up</a>
        <a href="/login">Log-in</a>
        <a href="/logout">Log-out</a>
    </div>
</div>

<div class="book_list" style="padding:50px">
  <h1>BOOKS</h1>
  <table>
    <tr>
      <th>Author</th>
      <th>Title</th>
      <th>ISBN</th>
    </tr>
    <tr>
      <td>The Bluest Eye</td>
      <td>Toni Morrison</td>
      <td>95-8857-942-2</td>
    </tr>
    <tr>
      <td>Ivanhoe</td>
      <td>Walter Scott</td>
      <td>95-8518-467-2</td>
    </tr>
    <tr>
      <td>The Crucible</td>
      <td>Arthur Miller</td>
      <td>95-8992-551-0</td>
    </tr>
    <tr>
      <td>The Complete Grimm's Fairy Tales</td>
      <td>Jacob Grimm</td>
      <td>96-8695-664-6</td>
    </tr>
    <tr>
      <td>A Short History of Nearly Everything</td>
      <td>Bill Bryson</td>
      <td>96-8722-043-0</td>
    </tr>
  </table>
</div>

</body>
</html>