<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="header">
    <a href="/" class="logo">Omokhefe Ilalokhoin</a>
    <div class="header-right">
        <a href="/" style="margin-right: 20px">Home</a>
        <a href="/books">Books</a>
        <a href="/register">Sign-up</a>
        <a href="/login">Log-in</a>
        <a href="/logout">Log-out</a>
    </div>
</div>

<div class="body" style="padding-left:20px">
  <h1>BOOKS FOR YOU!</h1>
  <p>There are books available for you to read</p>
  <a href="/books" class="button">View Books</a>
</div>

</body>
</html>
